{% extends 'main/layout.html' %}
{% load static %}



{% block title %}Контент главной страницы{% endblock %}

{% block content %}
    <div class="features">
        <img class="image1" src="{% static 'main/img/blender1.jpg' %}">
        <h1></h1>
        <p>Blender — профессиональное свободное и открытое программное обеспечение для создания трёхмерной компьютерной графики, включающее в себя средства моделирования, скульптинга, анимации, симуляции, рендеринга, постобработки и монтажа видео со звуком, компоновки с помощью «узлов», а также создания 2D-анимаций.</p>
        <button class="btn btn-warning">К первому уроку</button>
    </div>
{% endblock %}