{% extends 'main/layout.html' %}
{% load static %}



{% block title %}Контент первого урока{% endblock %}

{% block content %}
    <div class="features">
        <h1>Интерфейс Blender</h1>
        <h4>Контент первого урока</h4>
        <p>3D-моделирование – сложный, многоступенчатый, многогранный процесс со своими особенностями. Как результат, среды для создания трехмерной графики и анимации имеют замысловатый интерфейс. Blender не является исключением. Кроме того, окно приложения настраивается в зависимости от выполняемых задач и предпочтений пользователя.

В Blender наряду с обычными клавишами активно используется Numpad – цифровой блок справа на клавиатуре. Если его нет, можно поменять настройки или пользоваться кнопками в интерфейсе приложения. Однако удобнее иметь цифровой блок.</p>
<!--        <iframe width="560" height="315" src="https://www.youtube.com/embed/5NRU4KRtVH0?list=PLOVSu7-KesPiqiNIqh6ZSfqLN6VpiivkU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <br><video controls class="video">
            <source src="static\main\video\1.mp4" type="video/mp4"/>
    <    </video>
        <br><img class="content1"  src="{% static 'main/img/emulate_numpad.png' %}" alt="">

        <p>ВНа скрине показано, как переключить функции нумпада на обычные цифровые клавиши, если в этом есть необходимость.
Данное окно открывается через меню Edit → Preferences...</p>
        <p>После запуска Блендера мы видим примерно такую картину:</p>
        <br><img class="content1" src="{% static 'main/img/blender_start.png' %}" alt="">

        <p>Вверху находится верхняя панель, на которой размещены иконка, меню приложения (начинается с File), вкладки для переключения на разную разметку
            рабочих областей (начинаются с Layout), выпадающие меню для выбора сцен и слоев (Scene, View Layer). В самом низу окна находится строка состояния,
            она предназначена для информирования о текущих событиях, состояниях и настройках. Все остальное место окна приложения разделено на 4 области – areas.
            Их количество и размер можно менять.</p>
        <br><img class="content1" src="{% static 'main/img/4areas.png' %}" alt="">

        <p>Каждая область включает один редактор (editor). Редакторы в области можно менять. В заголовке каждого редактора с левой стороны есть кнопка, при клике
            на которую появляется один и тот же выпадающий список с имеющимися в Blender редакторами.</p>
        <br><img class="content1" src="{% static 'main/img/editors.png' %}" alt="">

        <p>На скрине красными эллипсами показано, где находится переключатель редактора в каждой области</p>
        <br><img class="content1" src="{% static 'main/img/editors_list.png' %}" alt="">

        <p>Список редакторов в Blender</p>
        <p>Если мы посмотрим на исходную разметку областей и список редакторов, то поймем, что наибольшую область занимает редактор 3D Viewport, в области 2
            (см. скрин выше) находится Outliner (структура проекта), 3 – Properties (свойства), 4 – Timeline (временная шкала).
Каждый редактор предназначен для выполнения своего спектра задач. Так в 3D-вьюпорте выполняются базовые трансформации объектов, их добавление. Это вид нашей
            сцены. Outliner служит менеджером объектов, Properties отвечает за настройки объектов, сцен и др. С помощь Timeline можно создать несложную анимацию.
Вспомним, что на верхней панели рядом с меню находится более десятка вкладок. Мы находимся на вкладке Layout (макет). Если переключиться на любую другую, то
            разметка областей поменяется. Расклад редакторов будет таким, каким его посчитали удобным разработчики Blender для выполнения какой-либо задачи.</p>
        <br><img class="content1" src="{% static 'main/img/shading.png' %}" alt="">

        <p>Разметка областей под шейдинг (оформление внешнего вида объектов – изменение цвета, теней и др., но не формы)</p>
        <br><img class="content1" src="{% static 'main/img/regions.png' %}" alt="">

        <p>Главный регион всегда виден и является рабочей областью редактора.
В заголовке размещается меню редактора (не путайте с меню всего приложения), различные кнопки управления видом и особенностями поведения редактора.
В регионе инструментов находятся соответственно инструменты. Переключаясь между ними, можно выполнять различные действия в главном регионе редактора. Регион инструментов скрывается и отображается клавишей T клавиатуры.
Боковой регион (клавиша N) содержит некоторые настройки самого объекта, инструмента и редактора.
При нажатии горячих клавиш необходимо, чтобы курсор мыши находился в пределах соответствующего редактора. Иначе, команды будут относиться к другому редактору.
Содержимое региона последней операции зависит от того, что вы делаете в данный момент. Например, если объект перемещается, то развернув эту панель, можно указать точные значения перемещения. Если объект создается, здесь можно задать степень его детализации, то есть количество составных частей.
В свою очередь регионы могут включать вкладки (tabs). Одновременно отображается содержимое только одной вкладки региона.
На вкладках региона находятся панели (panels). Их можно сворачивать, разворачивать, менять местами.</p>
        <br><img class="content1" src="{% static 'main/img/tabs_panels.png' %}" alt="">

        <p>Вкладки и панели бокового региона редактора 3D Viewport На панелях или самих регионах находятся различные элементы управления: кнопки,
            поля, движки, списки и др.
            В других редакторах вкладки могут выглядеть по-другому (в виде иконок или кнопок, располагаться горизонтально).</p>

        <a href="{% url 'lesson2' %}" class="btn btn-primary">Я представитель Bootstrap</a>

    </div>
{% endblock %}